body{

    margin:0;

    overflow:hidden;
}
.banner{
    position:absolute;
    inset:0;

    background:url('./Imagens/cenario1.jpg');

    background-size:cover;
    background-position:center;

    z-index:-1;
}

/* CONTAINER PRINCIPAL */
.ListaCavalos{

    width:80%;
    margin:auto;

    text-align:center;

    color:rgb(88, 54, 31);
}


.ListaCavalos h1{

    font-size:70px;
    font-weight:800;
    letter-spacing:2px;
}


.ListaCavalos p{

    font-size:30px;
    font-weight:800;
    letter-spacing:2px;

    color:black;
}

/* LISTA DOS CAVALOS */
.opcoesCavalo{

    display:flex;
    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

    margin-top:40px;
}

/* IMAGENS */
.opcoesCavalo img{

    width:120px;
    height:120px;

    object-fit:cover;

    border-radius:50%;

    cursor:pointer;

    border:4px solid black;

    transition:0.3s;
}


.opcoesCavalo img:hover{

    transform:scale(1.08);
}

/* SELECIONADO */
.opcoesCavalo img.selecionado{

    border:4px solid #ffd700;

    transform:scale(1.1);
}

/* DIV BOTÃO */
.bot{

    display:flex;
    justify-content:center;

    margin-top:40px;
}

/* BOTÃO */
button{

    padding:15px;

    min-height:30px;
    max-width:120px;
    width:100%;

    border:none;
    border-radius:14px;

    background:#fff;
    color:#000;

    font-size:16px;
    font-weight:800;

    cursor:pointer;

    transition:0.3s;
}

/* HOVER BOTÃO */
button:hover{

    background:#cfcfcf;
}

/* RESULTADO FINAL */
.voltar{

    padding:15px;

    min-height:30px;
    max-width:120px;
    width:100%;

    border:none;
    border-radius:14px;

    background:#000000;
    color:#ffffff;

    font-size:16px;
    font-weight:800;

    cursor:pointer;

    transition:0.3s;
}

/* HOVER BOTÃO */
.voltar:hover{

    background:#5900ff;
}

/* RESULTADO FINAL */
#msg{

    display:none;

    width:500px;

    margin:80px auto;

    padding:30px;

    border:5px solid black;
    border-radius:20px;

    background:rgba(255,255,255,0.92);

    text-align:center;

    font-size:22px;
    font-weight:700;

    color:black;

    box-shadow:0 0 20px rgba(0,0,0,0.4);
}

/* TITULO RESULTADO */
#msg h1{

    margin-bottom:20px;

    font-size:40px;
}

/* LINHA */
#msg hr{

    margin:20px 0;

    border:1px solid #555555;
}